body {
    margin: 0%;
    padding: 0%;
}

.tops {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 50px;
}

.selects {
    flex: 1;
    border: none;
    display: flex;
    justify-content: left;
    padding-left: 40px;
    cursor: pointer;
}

select {
    background-color: black;
    color: white;
    border: none;

}

select:focus {
    outline: none;
}

.times {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-left: 600px;
}

.tims {
    padding-left: 10px;
}

.mmmm {
    width: 100%;
    height: 40px;
}

.navbars {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2B6C;
    gap: 90px;
    color: white;
}

.navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    font-size: 19px;
    padding-right: 90px;
    cursor: pointer;


}

a {
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in;
}


.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.logos button {
    background-color: #BFD2F8;
    border: none;
    width: 140px;
    height: 35px;
    border-radius: 25px;
    color: #1F2B6C;
    cursor: pointer;
}

.ink {
    background-image: url('Images/blackman.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(238, 236, 236, 0.493);
    background-blend-mode: overlay;
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

}

.ink img {
    position: absolute;
    top: 10px;
    left: 10px;
}

.txt h1 {
    font-size: 48px;
    color: #1F2B6C;
    margin-top: 30px;


}

.txt p {
    font-size: 30px;
    color: #1F2B6C;
    margin-bottom: -30px;
}

.txt {
    width: 80%;
    

}

.map{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
}

.yyyyy{
    display: flex;
    justify-content: center;
    align-items: center;
}

.body8{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 600px;
}

.body9{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.table{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}

.section1 input{
    height: 30px;
    border: none;
    background-color: #1F2B6C;
    width: 172px;
}

.section1{
    display: flex;
    gap: 2px;
}

.section2{
    width: 350px;
    height: 30px;
    background-color: #1F2B6C;
    border: none;
}

input::placeholder{
    color: white;
}

.table textarea{
    width: 350px;
    height: 200px;
    background-color: #1F2B6C;
    border: none;
}

textarea::placeholder{
    color: white;
}

.SUBMIT {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SUBMIT button {
    width: 354px;
    border: none;
    background-color: #BFD2F8;
    color: #1F2B6C;
    height: 50px;
    border: none;
    border-radius: 0px 0px 5px 5px;
}

.text3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1px;


}

.text3 p {
    margin-top: 60px;
    color: #159EEC;
    letter-spacing: 5px;
    font-size: 20px;
}

.text3 h1 {
    color: #1F2B6C;
    font-size: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 60px;
}

.card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #91a3c7;
    width: 250px;
    height: 250px;
    border-radius: 9px;
    transition: 0.2s ease-in;

}

.card2 {
    margin-top: 20px;
}

.txt2 p {
    line-height: 8px;
}

.card1:hover {
    background-color: #344cd4;
    transform: scale(1.2);
    color: white;
}

#img {
    color: white;
    transition: 0.2s ease-in;
}

#img:hover {
    transform: scale(1.2);
    color: white;
}

.head1 {
    background-color: #1F2B6C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    gap: 60px;
}

.child {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 20px;
}

.child1 {
    color: white;
}

.child2 {
    color: white;
    margin-bottom: 110px;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BFD2F8;
    width: 250px;
    height: 40px;
    gap: 7px;
}

.input input {
    background-color: #BFD2F8;
    border: none;
}

.input input::placeholder {
    color: #1F2B6C;
}

.line {
    width: 1100px;
    height: 1px;
    background-color: #BFD2F8;
}

.ffff {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 700px;
    color: white;
}

.hamburger{
    display: none;
}

@media(max-width:900px){
    .selects {
        padding-left: 5px;
    }

    .times {
        padding-left: 10px;
    }

    .tims {
        padding-left: 2px;
    }

    .hamburger {
        display: block;
    }

    .navlinks {
        display: none;
    }

    .map img{
        width: 100%;
    }

    .head1{
        display: none;
    }

    .body8{
        flex-wrap: wrap;
    }

    .yyyyy{
        height: 3000px;
    }
}